<%- include("../partials/header") %>

<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1"><%=title%></h2>
    <p><%=description%></p>
</article>

<%- include("../partials/footer") %>